PORT=3000
VALHEIM_DIR=./valheim-server
VALHEIM_EXECUTABLE=./valheim-server/valheim_server.x86_64
VALHEIM_NAME=My server
VALHEIM_WORLD=Dedicated
VALHEIM_PASSWORD=secret
VALHEIM_PORT=2456
VALHEIM_PUBLIC=true
VALHEIM_CROSSPLAY=true
# VALHEIM_DATA_DIR=/data

# Required if the web interface is exposed outside localhost.
# ADMIN_USERNAME=admin
# ADMIN_PASSWORD=replace-with-a-long-random-password
